{% extends "/blog/base.html" %}
{% block blog_title %}macOSのシステムデータの中身について{% endblock %}
{% block blog_description %}実はシステムのデータだけじゃないです{% endblock %}
{% block blog_content %}
            <h3 class="text-bold">経緯</h3>
            <p>前からすでにこのことは知っていたんですが、Twitterでこのことを知らない方を見かけたので書きました。</p>
            <h3 class="text-bold">なぜ知ったか</h3>
            <p>Macの空き容量が不足し、システムデータが大部分を占めていたため、システムデータはそこまで大きくならないだろうと思い、代わりに何が入っているのか調べようとしました。</p>
            <p>そこでいつも使っていた<a href="https://grandperspectiv.sourceforge.net/">GrandPerspective</a>というソフトを使用して大きいファイルを探したのですが、LLMのファイルや開発のファイルなどが多かったです。</p>
            <p>そこで、とりあえず大きいLLMのモデルを1つ削除してみました。そして再起動してストレージ設定をもう一度見ると、普通にシステムデータが減っていたのです。</p>
            <p>おそらく、書類などに分類できなかったのだと思います。<span class="text-lowlight">「その他」とかでいいのでは...</span></p>
            <h3 class="text-bold">結論</h3>
            <p>システムデータにはシステムのデータ以外にも、分類できなかったファイル全てを含んでます</p>
            <h3 class="text-bold">ちなみに...</h3>
            <p>デベロッパという項目には実はXcodeなどの<span class="text-bold">Appleの開発ツールのみ</span>が含まれている(らしい)です。</p>
{% endblock %}
