[Unit]
Description=Nercone Website Updater

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/srv/website
ExecStart=/usr/bin/bash /srv/website/update.sh
Environment=UV_CACHE_DIR=/root/.cache/uv
