[Unit]
Description=Nercone Website
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/srv/website
ExecStart=/usr/bin/bash /srv/website/start.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
