{% extends "/blog/base.html" %}
{% block blog_title %}AlmaLinuxでSetroubleshootFixitがうるさいので無効化した話{% endblock %}
{% block blog_description %}知らないDBusサービスが勝手に起動して勝手にクラッシュしていたので止めました{% endblock %}
{% block blog_content %}
            <section id="background">
                <h3 class="text-bold">経緯</h3>
                <p>Raspberry Pi 5でAlmaLinux 9.7を使用していたのですが、<span class="code">dbus-:1.1-org.fedoraproject.SetroubleshootFixit&#64;0.service</span>とかいう変なサービスが勝手に起動して勝手にクラッシュしていました。</p>
                <p>無効化したかったため<span class="code">systemctl</span>コマンドで無効化しようとしたのですが、systemdサービスではなかったようで無効化できませんでした。<span class="text-lowlight">まあ名前からして予想はついていましたが...</span></p>
                <p>ディスク全体を調べ上げてDBus？というやつが怪しそうだったため調べていたところこいつはDBusサービス(systemdとは別の仕組み？らしい)のものだと知りました。</p>
                <p>しかしDBusなんてものは知らないですし、これ以上英語のフォーラムとかを読んで疲れるのも嫌なので、ChatGPTやGeminiなどを使用して方法を探し、なんとか見つかったので備忘録も兼ねて共有します。</p>
            </section>
            <section id="solution-0">
                <h3 class="text-bold">解決策1. パッケージごと削除する</h3>
                <p>Setroubleshoot関連のパッケージを全部削除します。こっちが確実そうです。</p>
                <pre>sudo dnf remove setroubleshoot setroubleshoot-server setroubleshoot-plugins</pre>
                <p>Setroubleshootに依存している別の必要なパッケージがあれば解決策2を使用したほうがいいらしいですが、今回の環境ではそれがなかったため削除しました。</p>
                <p>やってみたら起動しなくなったため、とりあえずこっちの方法で大丈夫そうです。</p>
            </section>
            <section id="solution-1">
                <h3 class="text-bold">解決策2. 呼び出し元を止める</h3>
                <p>Geminiによると<span class="code">sedispatch</span>というものがそもそもこいつを起動しているらしく、sedispatch自体は<span class="code">auditd</span>のプラグインだそうです。</p>
                <p>そこで、sedispatchプラグインを無効化し、auditdがsedispatchを起動しなくすれば、そもそもSetroubleshootFixitは起動しない、ということのようです。</p>
                <p>方法としては、<span class="code">/etc/audit/plugins.d/sedispatch.conf</span>にある設定ファイルを開き、<span class="code">active = yes</span>となっているところを<span class="code">active = no</span>に変更するといいらしいです。</p>
                <p>こちらの方法は検証していませんが、もし解決策1がうまくいかなかったり、依存関係があって使いたく無い場合はこっちを使うと良さそうです。</p>
            </section>
            <section id="changelog">
                <h3 class="text-bold">変更履歴</h3>
                <p>SELinuxの有効/無効に関係ないようなので、「SELinuxを無効化していたのですが」のところを削除しました。</p>
            </section>
{% endblock %}
