{% extends "/base.html" %}
{% block title %}{% block blog_title %}名称未設定{% endblock %} - Nercone Blog{% endblock %}
{% block description %}{% block blog_description %}Nercone(ネルコン)の気まぐれな技術ブログ{% endblock %}{% endblock %}
{% block extra_title %}Blog{% endblock %}
{% block header_desc %}{{ self.blog_title() }}{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/blog/" class="text-no-decoration">← 記事一覧</a></p>
            {% block blog_content %}<p>No contents.</p>{% endblock %}
{% endblock %}
