{% extends "/base.html" %}
{% block title %}Web Server - Nercone Credit{% endblock %}
{% block extra_title %}Credit{% endblock %}
{% block header_desc %}Web Server{% endblock %}
{% block description %}nercone-webserver{% endblock %}
{% block content %}
            <p class="text-small text-bold"><a href="/credit/" class="text-no-decoration">← Credit</a></p>
            <p class="text-lowlight">The development of this web server required a variety of things, including:</p>
            <p><span class="text-bold">Python, CPython and PyPI</span> by Python Software Foundation</p>
            <p><span class="text-bold">Nercone Modern</span> by DiamondGotCat</p>
            <p><span class="text-bold">FastAPI</span> by Sebastián Ramírez</p>
            <p><span class="text-bold">Jinja</span> by Pallets</p>
            <p><span class="text-bold">Uvicorn</span> by Encode OSS Ltd</p>
            <p><span class="text-bold">Beautiful Soup</span> by Leonard Richardson</p>
            <p class="text-lowlight">If there are any mistakes in the contents, please let me know. Thanks for reading.</p>
{% endblock %}
