{% extends "/base.html" %}
{% block title %}Nercone's Website{% endblock %}
{% block description %}作りたいものを作り、やりたくないことからは逃げる学生{% endblock %}
{% block extra_head %}
        <style>
            .aaaa {
                min-height: 100%;
                display: grid;
                place-items: center;
            }
            .big-text {
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 64pt;
            }
        </style>
{% endblock %}
{% block content %}
            <div class="aaaa">
                <p class="text-highlight big-text">NERCONE</p>
            </div>
{% endblock %}
